.metadata/
.settings/
.tmp_yolo_export_512/

**/.settings/
**/Debug/
**/Release/
**/build/
**/CMakeFiles/
**/__pycache__/
**/.venv/
**/*.pyc
**/*.log
**/*.o
**/*.a
**/*.so
**/*.engine

datasets/drone_single_class/raw_sources/
datasets/drone_single_class/images/train/
datasets/drone_single_class/images/val/
datasets/drone_single_class/images/test/
datasets/drone_single_class/labels/train/
datasets/drone_single_class/labels/val/
datasets/drone_single_class/labels/test/
datasets/drone_single_class/labels/*.cache
training_runs/
training/drone_yolov10/yolo26n.pt
rk_yolo_live_rtsp/artifacts/
rk_yolo_video/artifacts/
unet/blur/
unet/ori/
unet/hdori/

yolov10n.pre_wsl_backup.rknn

.DS_Store
Thumbs.db
