.metadata/
.settings/
.tmp_yolo_export_512/

**/.settings/
**/Debug/
**/Release/
**/build/
**/CMakeFiles/
**/__pycache__/
**/*.pyc
**/*.log
**/*.o
**/*.a
**/*.so
**/*.engine

datasets/drone_single_class/raw_sources/
rk_yolo_live_rtsp/artifacts/
rk_yolo_video/artifacts/
unet/blur/
unet/ori/
unet/hdori/

yolov10n.pre_wsl_backup.rknn

.DS_Store
Thumbs.db
